<template>
  <v-app>
    <div id="app">
      <img class="center" height="100" alt="Developer Search Engine" src="../assets/Logo.png">
      <Dashboard/>
    </div>
  </v-app>
</template>

<script lang="ts">

import Dashboard from "@/components/Dashboard.vue";
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {
    Dashboard,
  },
})
export default class App extends Vue {}
</script>


<style>

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  #app {
    background: url('../assets/background.jpg') no-repeat center center fixed !important;
    background-size: cover;
  }

</style>
