<template>
    <div>
        <v-card color="blue lighten-5" class="mx-auto my-12" max-width="1200">
            <br>
            <v-card-title class="justify-center" style="margin: 20px">
                <h1>Welcome to the Developer Search Engine</h1>
            </v-card-title>
            <v-card-text style=" margin-top: 45px">
                <v-row align="center" justify="center">
                    <h3>With this engine you can look for employees given a programming language.</h3>
                </v-row>
                <v-row align="center" justify="center">
                    <v-col cols="5">
                        <v-text-field style="margin-top: 30px"
                                      label="Programming language"
                                      v-model="searchLanguage"
                                      background-color="white"
                                      hint="For example, Java or Javascript"
                                      outlined
                                      @keypress.enter="getEmployee"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="2">
                        <v-btn style="margin-bottom: 150px"
                               @click="getEmployee"
                               :loading="loading"
                               :disabled="loading"
                               color="blue"
                               class="ma-2 white--text"
                        >
                            Search
                            <v-icon
                                    right
                                    dark
                            >
                                mdi-account-search
                            </v-icon>
                        </v-btn>
                    </v-col>
                </v-row>
            </v-card-text>
            <v-divider class="mx-4"></v-divider>
            <v-card-text>
                <v-row>
                    <v-col cols="5">
                        <v-treeview :items="items"></v-treeview>
                    </v-col>
                    <v-col cols="7">
                        <v-data-table
                                :loading="loading"
                                loading-text="Loading data..."
                                :headers="headers"
                                :items="tableItems"
                                :items-per-page="10"
                                class="elevation-1"
                        ></v-data-table>
                    </v-col>
                </v-row>

            </v-card-text>
        </v-card>
    </div>
</template>

<script lang="ts">

    interface languageCount {
        language: string;
        count: number;
    }

    interface treeEntry {
        id: number;
        name: string;
        children?: treeEntry[]
    }

    interface tableEntry {
        name: string;
        linesOfCode: string;
    }

    import {Component, Vue} from "vue-property-decorator";
    import axios from "axios";

    @Component({
        components: {
            Dashboard,
        },
    })
    export default class Dashboard extends Vue {


        private items: any = [];
        private searchLanguage: string = '';
        private loading: boolean = false;
        private tableItems: any[] = [];

        private headers: any = [
            {text: 'Name', value: 'name'},
            {text: 'Total lines of code', value: 'linesOfCode'},
        ];

        mounted() {
            this.loadEmployees();
        }

        getEmployee() {
            this.loading = true;
            this.tableItems = [];
            axios.get("/api/dse/employeesByLanguage?language=" + this.searchLanguage)
                .then(response => {
                    const list: tableEntry[] = [];
                    response.data.forEach((f: any) => {
                        let totalLinesOfCode = 0;
                        f.repos.forEach((f2: any) => {
                            f2.repoLanguageCounts.forEach((f3: any) => {
                                if (f3.language.name.trim().toLowerCase() === this.searchLanguage.trim().toLowerCase()) {
                                    totalLinesOfCode += f3.count;
                                }
                            })
                        })

                        list.push({
                            name: f.name === 'null' ? f.login + " (login)" : f.name,
                            linesOfCode: totalLinesOfCode.toString()
                        });

                    })

                    list.sort((a: tableEntry, b: tableEntry) => {
                        return (Number(a.linesOfCode) < Number(b.linesOfCode) ? 1 : ((Number(b.linesOfCode) < Number(a.linesOfCode)) ? -1 : 0))
                    })

                    list.forEach(e => {
                        e.linesOfCode = new Intl.NumberFormat('de-DE', {useGrouping: true}).format(Number(e.linesOfCode));
                        this.tableItems.push(e);
                    })
                    this.loading = false;

                })
                .catch(e => {
                    console.log(e);
                })

        }


        loadEmployees() {
            let id = 0;
            axios.get("/api/dse/employees")
                .then(response => {
                    response.data.forEach((f: any) => {
                        let languageProjectCount: languageCount[] = [];
                        const employeeNameOrLogin = f.name === 'null' ? f.login + " (login)" : f.name;
                        const employeeRepos = f.repos;
                        employeeRepos.forEach((f2: any) => {
                            const repoLanguageCounts = f2.repoLanguageCounts;
                            repoLanguageCounts.forEach((f3: any) => {
                                const languageName = f3.language.name
                                const entry = languageProjectCount.find(element => element.language === languageName);
                                if (entry === undefined) {
                                    languageProjectCount.push({language: languageName, count: 1});
                                } else {
                                    entry.count = entry.count + 1;
                                }
                            })

                        })
                        const employeeEntry: treeEntry = {
                            id: id,
                            name: employeeNameOrLogin,
                            children: []
                        }
                        id++;
                        languageProjectCount.sort((a: languageCount, b: languageCount) => {
                            return (a.count < b.count) ? 1 : ((b.count < a.count) ? -1 : 0)
                        })
                        languageProjectCount.forEach(f => {
                            const entry: treeEntry = {
                                id: id,
                                name: f.language + " (" + f.count + ")"
                            }
                            employeeEntry.children?.push(entry)
                            id++;
                        })

                        this.items.push(employeeEntry)

                    })
                })
                .catch(e => {
                    console.log(e);
                })

        }

    }


</script>


<style scoped>
    .cardStyle {
        margin-left: 50px;
        margin-right: 50px;
    }

</style>
